body {
	overflow-x: hidden;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.loading-indicator {
	margin: 1.5rem 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px dashed slateblue;
	position: relative;
	animation: rotate 3s linear forwards infinite;
}

.loading-indicator::before {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 4px;
	height: 2px;
	z-index: 2;
	top: -2px;
	background: #fff;
	content: '';
}

/*.loading-indicator::before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	z-index: 2;
	left: -2px;
	background: #fff;
	content: '';
}

.loading-indicator::after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	z-index: 2;
	right: -2px;
	background: #fff;
	content: '';
}
*/

@keyframes rotate {
	from {
		transform: rotateZ(0);
	}

	to {
		transform: rotateZ(360deg);
	}
}